* {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 40vh;
    flex-direction: column;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px 100px 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
    gap: 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    font-size: 32px;
}

.about-us {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.vision-mission {
    background-image: url(./assets/coconut-tree.webp);
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 25px;
    gap: 50px;

}

.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #2c3e50, #000000);
    color: white;
    border-radius: 12px;
    padding: 25px;
    gap: 10px;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #2c3e50, #000000);
    color: white;
    border-radius: 12px;
    padding: 25px;
    gap: 10px;

}

.mission ul {
    list-style: none;
}

.product {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.product-card-container {
    display: flex;
    gap: 50px;
}

.hookah {
    background-image: url(./assets/hookah.webp);
    height: 300px;
    width: 400px;
    object-position: center;
    background-position: center;
    display: flex;
    background-size: 200%;
    justify-content: center;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.barbecue {
    background-image: url(./assets/barbecue.webp);
    height: 300px;
    width: 400px;
    object-position: center;
    background-position: center;
    display: flex;
    background-size: 200%;
    justify-content: center;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.product-card h2 {
    display: flex;
    justify-content: center;
}

.specification {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.quality {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.quality-paragraph {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

.trial {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
}

.trial-btn-container {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
}

.whatsapp {
    background-color: green;
    color: white;
}

.email {
    background-color: black;
    color: white;

}

.feature {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
}

.feature-card-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 50px 25px;
}


.feature-description p{
    display: flex;
    justify-content: center;
    text-align: justify;

}

.legality {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.legality p {
    padding: 20px 50px;
    border: 2px green solid;
}

.legality-card-container {
    display: flex;
    gap: 20px;
}

.legality-card {
    display: flex;
    flex-direction: column;
}

.legality-card h3 {
}

.legality-card-logo {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.certification-paragraph {
    border: 2px green solid;
    display: flex;
    gap: 5px;
    flex-direction: column;
    max-width: 850px;
    padding 50px 50px;
    
}

.certification-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
} 

.certification-card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification p {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    padding: 5px 50px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.gallery-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-card {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: solid 2px black;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.faq-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    
}

.faq-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: auto;
    border: solid 2px black;
    flex-wrap: wrap;
}

.faq-card p {
    padding: 5px 20px;
}